################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FileTest/obj/x64/Debug/LastRemoteTarget.tlog
/FileTest/obj/x64/Debug/FileTest.tlog/link.write.1.tlog
/FileTest/obj/x64/Debug/FileTest.tlog/FileTest.lastbuildstate
/FileTest/obj/x64/Debug/FileTest.tlog/compile.write.1.tlog
/FileTest/obj/x64/Debug/FileTest.tlog/compile.read.1.tlog
/FileTest/obj/x64/Debug/FileTest.log
/FileTest/obj/x64/Debug/1094842346.RemoteProjectDirFile.tlog
/FileTest/obj/x64/Debug/1094842346.Local_Remote_PathMapping.tlog
/FileTest/obj/x64/Debug/1094842346.LinkUpToDateFile.tlog
/FileTest/obj/x64/Debug/1094842346.CopySourcesUpToDateFile.tlog
/FileTest/obj/x64/Debug/1094842346.CompileUpToDateFile.tlog
/FileTest/obj/ARM/Debug/FileTest.log
/.vs/LnxSysPrg/v15/ipch/AutoPCH/d044c5b4a6ffb2a0/MAIN.ipch
/.vs/LnxSysPrg/v15/Browse.VC.opendb
/.vs/LnxSysPrg/v15/Browse.VC.db
/FileTest/readme/images/postbuild.png
/FileTest/readme/images/OutputTypes.gif
/FileTest/readme/images/ManageConnections.gif
/FileTest/readme/images/linker.png
/FileTest/readme/images/firstconnection.png
/FileTest/readme/images/debuggerexport.png
/FileTest/readme/images/ChangeRemote.gif
/FileTest/readme/images/ArchOptions.gif
/FileTest/bin/x64/Debug/FileTest.out
