################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FileTest/obj/x64/Debug/LastRemoteTarget.tlog
